{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ user_obj.username }}'s Book Collection</h1>
  <p>See all the books in the collection of {{ user_obj.username }}...</p> 
    <table>
    {% for book in books %}
    <tr>
      <td><strong>{{ book.title }}</strong><br>Author: {{ book.author }}<br>Year: {{ book.year }}<br><a href="../add-book/{{ book.olid }}">Add to my collection too</a></td>
      <td><img src="{{ book.cover }}" width="150px"></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
