{% extends "base_generic.html" %}

{% block content %}
  <h1>Community</h1>
  <p>Meet our community members and see their collections...</p>
  {% if user_list %}
    <table>
    {% for user in user_list %}
        <tr><td>
        <strong><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></strong><br>
        Joined: {{ user.date_joined }}<br>
        Last login: {{ user.last_login }}
        </td></tr>
    {% endfor %}
    </table>
  {% else %}
    <p>There are no users in the community yet!</p>
  {% endif %}       
{% endblock %}
