{% extends "base_generic.html" %}

{% block content %}
  <h1>heluhelu</h1>
  <p>Welcome to heluhelu, a website to organize and share your book collection.<p>
  <p>Our community consists of {{ num_users }} users with a collection of {{ num_books }} unique books.</p>
  <p>The most popular books in the community are...</p>
  <table>
    <tr>
      {% for book in most_popular %}
      {% if book.num_owners > 1 %}
      <td><img src="{{ book.cover }}" width="150px"><br>{{ book.title }}<br>{{ book.num_owners }} members own this book<br><a href="add-book/{{ book.olid }}">Add to my collection too</a></td>
      {% else %}
      <td><img src="{{ book.cover }}" width="150px"><br>{{ book.title }}<br>{{ book.num_owners }} member owns this book<br><a href="add-book/{{ book.olid }}">Add to my collection too</a></td>
      {% endif %}
      {% endfor %}
    </tr>
  </table>
  <p>Please join us to see what other people love to read, and share what you love with others!</p>
{% endblock %}
